<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1">
        SCORE BOARD
      </h1>
    </div>
  </div>
</section>

<div class="row has-text-centered">
  <div class="col s6">
    <h1 class="title is-1">
      <span editable-text="home.teamName1">{{home.teamName1}}</span>
    </h1>
    <h1 class="title is-1">{{home.scoreTeam1}}</h1>
    <a class="button is-outlined is-primary is-medium" ng-click="home.addScore(1, 1)">+1</a>
    <a class="button is-outlined is-primary is-medium" ng-click="home.addScore(1, 2)">+2</a>
    <a class="button is-outlined is-primary is-medium" ng-click="home.addScore(1, 3)">+3</a>
    <a class="button is-outlined is-danger is-medium" ng-click="home.resetScore(1)">RESET</a>
  </div>
  <div class="col s6">
    <h1 class="title is-1">
      <span editable-text="home.teamName2">{{home.teamName2}}</span>
    </h1>
    <h1 class="title is-1">{{home.scoreTeam2}}</h1>
    <a class="button is-outlined is-primary is-medium" ng-click="home.addScore(2, 1)">+1</a>
    <a class="button is-outlined is-primary is-medium" ng-click="home.addScore(2, 2)">+2</a>
    <a class="button is-outlined is-primary is-medium" ng-click="home.addScore(2, 3)">+3</a>
    <a class="button is-outlined is-danger is-medium" ng-click="home.resetScore(2)">RESET</a>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Basketball Score Board</strong> by <a href="">I'Pondpaun SevenZ</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
      </p>
      <p>
        <a class="icon" href="https://github.com/jgthms/bulma">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>