<section class="hero is-primary has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-2">
        Merchant Marine Training Centre Score Board
      </h1>
      <h2 class="title is-1">
        <timer  autostart="false" countdown="600" max-time-unit="'minute'" interval="1000">
          {{mminutes}} minute{{minutesS}}, {{sseconds}} second{{secondsS}}.
        </timer>
        <br>
        <a class="button is-info is-medium" ng-click="home.timerToggle()">{{home.timeStatus | uppercase}}</a>
        <a class="button is-danger is-medium" ng-click="home.timerReset()">RESET</a>
      </h2>
    </div>
  </div>
</section>

<div class="row has-text-centered">
  <div class="col s4">
    <team-directive name="SET TEAM NAME 1"></team-directive>
  </div>
  <div class="col s4 container-round">
    <h1 class="title is-1">ROUND</h1>
    <h1 class="title is-1">
      <a ng-click="home.prevRound()">
        <i class="fa fa-caret-left" aria-hidden="true"></i>
      </a>
      {{home.round}}
      <a ng-click="home.nextRound()">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
      </a>
    </h1>
    <a class="button is-outlined is-danger is-medium" ng-click="home.resetRound()">RESET</a>
    <br><br>
    <a class="button is-outlined is-danger is-medium" ng-click="home.resetAll()">RESET ALL</a>
    <a class="button is-outlined is-info is-medium" ng-click="home.fullscreen()">
      <i class="fa fa-desktop" aria-hidden="true"></i>
    </a>
  </div>
  <div class="col s4">
    <team-directive name="SET TEAM NAME 2"></team-directive>
  </div>
</div>
